<%- include('./fragments/header.ejs')%>
    <main>
        <h2>Nowe dane wysyłki</h2>
        <form class="form" novalidate onsubmit="return validateForm();">

            <!-- <label for="ID">ID<span class="symbol-required">*</span></label>
            <input type="text" name="ID" id="ID" value="" required>
            <span id="errorID"></span> -->

            <label for="SendDate">Data wysyłki</label>
            <input type="date" name="SendDate" id="SendDate" min="1999-02-23" max="2030-01-01">
            <span id="errorSendDate" class="errors-text"></span>

            <label for="deliveryAdress">Adres docelowy<span class="symbol-required">*</span></label>
            <input type="text" name="deliveryAdress" id="deliveryAdress" required>
            <span id="errordeliveryAddress" class="errors-text"></span>

            <label for="PersDetails">Dane odbiorcy<span class="symbol-required">*</span></label>
            <input type="text" name="PersDetails" id="PersDetails" value="" required>
            <span id="errorPersDetails" class="errors-text"></span>

            <label for="delivery">Sposób dostawy<span class="symbol-required">*</span></label>
            <input type="text" name="delivery" id="delivery" placeholder="np. Kurier" value="" required>
            <span id="errordelivery" class="errors-text"></span>

            <div class="form-buttons">
                <input type="submit" value="Dodaj" class="form-button-submit">
                <a href="/pages/wysylka/list-wys.html" class="form-button-cancel">Anuluj</a>
                <p id="errorsSummary" class="errors-text"></p>
            </div>
        </form>
    </main>
    <%- include('../../fragments/footer.ejs') %>