<%- include('./fragments/header.ejs')%>
    <main>
        <h2>Nowe dane wysyłki</h2>
        <form class="form">

            <!-- <label for="ID">ID<span class="symbol-required">*</span></label>
            <input class="error-input" type="text" name="ID" id="ID" value="" disabled>
            <span class="errors-text" id="errorID">To pole nie może być puste</span> -->

            <label for="SendDate">Data wysyłki</label>
            <input type="date" name="SendDate" id="SendDate" min="1999-02-23" max="2030-01-01" value="">
            <span id="errorSendDate" class="errors-text"></span>

            <label for="deliveryAdress">Adres docelowy<span class="symbol-required">*</span></label>
            <input class="error-input" type="text" name="deliveryAdress" id="deliveryAdress" value="" required>
            <span id="errordeliveryAddress" class="errors-text">To pole nie może być puste</span>

            <label for="PersDetails">Dane odbiorcy<span class="symbol-required">*</span></label>
            <input class="error-input" type="text" name="PersDetails" id="PersDetails" value="" required>
            <span id="errorPersDetails" class="errors-text">To pole nie może być puste</span>

            <label for="delivery">Sposób dostawy<span class="symbol-required">*</span></label>
            <input class="error-input" type="text" name="delivery" id="delivery" value="" required>
            <span id="errordelivery" class="errors-text">To pole nie może być puste</span>

            <div class="form-buttons">
                <input type="submit" value="Dodaj" class="form-button-submit">
                <a href="/pages/wysylka/list-wys.html" class="form-button-cancel">Anuluj</a>
                <p id="errorSummary" class="errors-text"><b>Formularz zawiera błędy</b></p>
            </div>
        </form>
    </main>
    <%- include('../../fragments/footer.ejs') %>