<%- include('../../fragments/header.ejs')%>
    <main>
        <h2>Dane wysyłki</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th></th> 
                    <th>Adres docelowy</th>
                    <th>Data wysyłki</th>
                    <th>Dane odbiorcy</th>
                    <th>Sposób dostawy</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Żwirowa 12 04-123, Gniezno, Polska</td>
                    <td>23-02-1999</td>
                    <td>s20901@pjwstk.e...</td>
                    <td>Odbiór w paczkomacie InPost</td>


                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/pages/wysylka/list-wys-details.html" class="ViewDetails">Szczegóły</a>
                            </li>
                            
                            <li>
                                <a href="/pages/wysylka/form-wys-edit.html" class="FormEdit">Edytuj</a>
                            </li>
                            <li>
                                <a href="/pages/wysylka/list-wys-empty.html" class="FormDelete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Walczykowa 6, 02-137, Słupsk, Polska</td>
                    <td>21-03-1989</td>
                    <td>Mirosław Koziera...</td>
                    <td>Kurier DPD</td>


                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/pages/wysylka/list-wys-details.html" class="ViewDetails">Szczegóły</a>
                            </li>
                            <li>
                                <a href="/pages/wysylka/form-wys-edit.html" class="FormEdit">Edytuj</a>
                            </li>
                            <li>
                                <a href="/pages/wysylka/list-wys-empty.html" class="FormDelete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <!--Tutaj wstaw wiersze dodatkowe-->
            </tbody>
        </table>
        <p><a href="/pages/wysylka/form-wys.html" class="button-add">Dodaj nowe dane adresowe</a></p>
    </main>
    <%- include('../../fragments/footer.ejs') %>