<%- include('../../fragments/header.ejs')%>
    <main>
        <h2>Nowy sprzęt</h2>
        <form class="form" novalidate onsubmit="return validateForm();">

            <!-- <label for="ID">kod z-kom<span class="symbol-required" >*</span></label>
            <input type="text" name="ID" id="ID" value="" required>
            <span id="errorID" class="errors-text"></span> -->

            <label for="Manufacturer">Producent<span class="symbol-required">*</span><span
                    class="symbol-required"></span></label>
            <input type="text" name="Manufacturer" id="Manufacturer" placeholder="Nazwa producenta" required>
            <span id="errorManufacturer" class="errors-text"></span>

            <label for="manufacturerID">ID Producenta</label>
            <input type="text" name="manufacturerID" id="manufacturerID" value="">
            <span id="errormanufacturerID" class="errors-text"></span>

            <label for="name">Nazwa<span class="symbol-required">*</span></label>
            <input type="text" name="name" id="name" placeholder="Nazwa sprzętu" required>
            <span id="error_name" class="errors-text"></span>

            <label for="Price">Cena<span class="symbol-required">*</span></label>
            <input type="text" name="Price" id="Price" placeholder="Cena sprzętu" required>
            <span id="errorPrice" class="errors-text"></span>

            <label for="Dimensions">Wymiary paczki<span class="symbol-required">*</span></label>
            <input type="text" name="Dimensions" id="Dimensions" placeholder="np. 20,0 × 25,0 cm " required>
            <span id="errorDimensions" class="errors-text"></span>

            <label for="ReleaseDate">Data premiery</label>
            <input type="date" name="ReleaseDate" id="ReleaseDate" value="">
            <span id="errorReleaseDate" class="errors-text"></span>

            <div class="form-buttons">
                <input type="submit" value="Dodaj" class="form-button-submit">
                <a href="/pages/zamowienia/list.html" class="form-button-cancel">Anuluj</a>
                <p id="errorsSummary" class="errors-text"></p>
            </div>
        </form>
    </main>
    <%- include('../../fragments/footer.ejs') %>