<%- include('./fragments/header.ejs')%>
    <main>
        <h2>Edytuj sprzęt</h2>
        <form class="form">

            <!-- <label for="ID">kod z-kom<span class="symbol-required">*</span></label>
            <input type="text" name="ID" id="ID" value="1065198" required>
            <span id="errorID"></span> -->

            <label for="manufacturer">Producent<span class="symbol-required">*</span></label>
            <input type="text" name="manufacturer" id="manufacturer" value="AMD" required>
            <span id="errorProducer"></span>

            <label for="manufacturerID">ID Producenta</label>
            <input type="text" name="manufacturerID" id="manufacturerID" value="">
            <span id="errormanufacturerID"></span>

            <label for="Name">Nazwa<span class="symbol-required">*</span></label>
            <input type="text" name="Name" id="Name" value="AMD Ryzen Threadripper PRO 5995WX" required>
            <span id="errorName"></span>

            <label for="Price">Cena<span class="symbol-required">*</span></label>
            <input type="text" name="Price" id="Price" value="37 999,00 zł" required>
            <span id="errorPrice"></span>

            <label for="PackageDimensions">Wymiary paczki<span class="symbol-required">*</span></label>
            <input type="text" name="PackageDimensions" id="PackageDimensions" value="20,0 × 25,0 cm" required>
            <span id="errorPackageDimensions"></span>

            <label for="ReleaseDate">Data premiery</label>
            <input type="date" name="ReleaseDate" id="ReleaseDate" value="1999-02-23">
            <span id="errorReleaseDate"></span>

            <div class="form-buttons">
                <input type="submit" value="Dodaj" class="form-button-submit">
                <a href="../zamowienia/list.html" class="form-button-cancel">Anuluj</a>
                <p id="errorSummary">Formularz zawiera błędy</p>
            </div>
        </form>
    </main>
    <%- include('./fragments/footer.ejs') %>