<%- include('../../fragments/header.ejs')%>
    <main>
        <h2>Asortyment sklepu</h2>
        <p>Brak rekordów do wyświetlenia</p>
        <p><a href="form-sprz.html" class="button-add">Wprowadź nowy sprzęt</a></p>
    </main>
    <%- include('../../fragments/footer.ejs') %>