<%- include('../../fragments/header.ejs')%>
    <main> 
        <h2>Asortyment sklepu</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>kod z-kom</th>
                    <th>Producent</th>
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Wymiary paczki</th>
                    <th>Akcje</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1065198</td>
                    <td>AMD</td>
                    <td>AMD Ryzen Threadripper PRO 5995WX</td>
                    <td>37 999,00 zł</td>
                    <td>20,0 × 25,0 cm </td>


                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/sprzet/details/:sprzId" class="ViewDetails">Szczegóły</a>
                            </li>
                            <li>
                                <a href="/sprzet/edit/:sprzId" class="FormEdit">Edytuj</a>
                            </li>
                            <li>
                                <a href="sprzet/delete/:sprzId" class="FormDelete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>661718</td>
                    <td>AMD</td>
                    <td>AMD Radeon PRO W6800 32GB GDDR6</td>
                    <td>8 199,00 zł</td>
                    <td>26,7 × 12,0 cm</td>


                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/sprzet/details/:sprzId" class="ViewDetails">Szczegóły</a>
                            </li>
                            <li>
                                <a href="/sprzet/edit/:sprzId" class="FormEdit">Edytuj</a>
                            </li>
                            <li>
                                <a href="/sprzet/delete/:sprzId" class="FormDelete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <!--Tutaj wstaw wiersze dodatkowe-->
            </tbody>
        </table>
        <p><a href="/sprzet/add" class="button-add">Wprowadź nowy sprzęt</a></p>
    </main>
    <%- include('../../fragments/footer.ejs') %>