<%- include('./fragments/header.ejs')%>
    <main>
        <h2>Strona Główna</h2>
        <img class="vertabelo" src="/images/vertabelo-tabele.png" alt="budowa bazy danych z-kom">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laudantium velit, veritatis totam repudiandae
            libero eos cupiditate eius? Inventore, laboriosam ducimus. Ducimus impedit unde corporis nobis dolores
            cupiditate, numquam veniam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam laboriosam id
            aut animi sunt, numquam fugit, maiores dolorum qui itaque reiciendis nulla minima tenetur accusamus beatae
            incidunt! Dicta, consequatur expedita. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem
            alias mollitia aperiam debitis officiis inventore similique beatae modi, incidunt cum sequi laboriosam unde
            libero quo! Expedita esse reprehenderit culpa sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Incidunt recusandae labore neque eligendi accusamus, eos adipisci, harum in eaque sed optio nihil provident
            quis facilis ad mollitia natus fugit expedita?</p>

    </main>
<%- include('./fragments/footer.ejs') %>