<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <script type="application/javascript" src="" js/validationCommon.js"></script>
    <title>Sklep internetowy z-kom</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>z-kom</h1>
        <img src="images/IMG_2202.png" alt="logo sklepu z-kom">
    </header>
    <nav>
        <ul>
            <li><a href="/" class="active">Strona główna</a></li>
            <li><a href="/zamowienia">Zamówienia</a></li>
            <li><a href="/sprzet">Sprzęt</a></li>
            <li><a href="/wysylka">Wysylka</a></li>
        </ul>
    </nav>