<%- include('../../fragments/header.ejs')%>
    <main>
        <h2>Szczegóły zamówienia</h2>
        <form class="form">
            <label for="ID">ID</label>
            <input type="text" name="ID" id="ID" value="700002368312" disabled>
            <span id="errorID"></span>

            <label for="sprzet_id">Sprzęt<span class="symbol-required">*</span></label>
            <select name="sprzet_id" id="sprzet_id" disabled>
                <option value="">-</option>
                <option value="1" selected>AMD Ryzen Threadripper PRO 5995WX</option>
                <option value="2">AMD Radeon PRO W6800 32GB GDDR6</option>
            </select>
            <span id="errorsprzet_id"></span>

            <label for="shipmentID">Adres wysyłki<span class="symbol-required">*</span></label>
            <select name="shipmentID" id="shipmentID" disabled>
                <option value="">-</option>
                <option value="1" selected>Żwirowa 12 04-123, Gniezno, Polska</option>
                <option value="2" >Walczykowa 6, 02-137, Słupsk, Polska</option>
            </select> <span id="errorshipmentID"></span>

            <label for="special_packaging">Opakowanie prezentowe</label>
            <select name="special_packaging" id="special_packaging" disabled>
                <option value="1" selected>Tak</option>
                <option value="2">Nie</option>
            </select>
            <span id="error_e-mail"></span>

            <label for="SN">Numer seryjny</label>
            <input type="text" name="SN" id="SN" value="KTKRXM5E4N2KWFH" disabled>
            <span id="errorSN"></span>

            <div>
                <a href="/pages/zamowienia/form-edit.html" class="FormEdit">Edytuj</a>
            </div>
        </form>
        <h2>Szczegóły sprzętu</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Wysyłka</th>
                    <th>Adres docelowy</th>
                    <th>Sprzęt</th>
                    <th>Cena</th>
                    <th>Wymiary opakowania</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>29.02.1999</td>
                    <td>Żwirowa 12 04-123, Gniezno, Polska</td>
                    <td>AMD Ryzen Threadripper PRO 5995WX</td>
                    <td>37 999,00 zł</td>
                    <td>20,0 × 25,0 cm</td>

                </tr>
            </tbody>
        </table>
        <a href="../zamowienia/list.html" class="ViewDetails">Powrót</a>
    </main>
    <%- include('../../fragments/footer.ejs') %>