<%- include('./fragments/header.ejs')%>
    <main>
        <h2>Zamówienia</h2>
        <p>Brak rekordów do wyświetlenia</p>
        <p><a href="/pages/zamowienia/form.html" class="button-add">Wprowadź nowe zamówienie</a></p>
    </main>
    <%- include('./fragments/footer.ejs') %>